@model IEnumerable<UtaemKomite.Models.Proje>

@if (Model.FirstOrDefault() == null)
{
    <div>
        <i>Hiç projeniz yok.. "Yeni"ye basarak ekleyebilirsiniz.</i>
    </div>
}

@foreach (var item in Model)
{
    <input type="hidden" id="projeID" value="@item.ID" />
    <div class="projePanel">
        <h6>@item.isim</h6>
        <div class="row">
            <div class="col-sm-10">
                Yükleme Tarihi: @item.tarih
                <br />
                Proje Türü: @item.durum
            </div>
            <div class="col-sm-2">
                <button class="btn btn-secondary"><span class="fas fa-arrow-right"></span><br />Gör</button>
            </div>
        </div>
        
        <button class="btn btn-sm btn-outline-warning" onclick="ProjeDuzenle(@item.ID)">Düzenle</button>
        <hr />
        <div id="prodosyalarDiv">
            <b><u>Dosyalar</u></b>
            <center><span class="dot-bricks"></span></center>
        </div>
    </div> 
}

<script>
    $(document).ready(function () {
        ProdosyaListele();
    });

    function ProdosyaListele() {
        var projeID = Number($("#projeID").val());
        new OzAjax("/User/DosyalarımListele", GET, { projeID: projeID }, prodosyaGetirBasari).BasitGonder();
        function prodosyaGetirBasari(data) {
            $("#prodosyalarDiv").html(data);
        }
    }


</script>


